a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #fff!important;
}
h1,h2,h3,h4,h5,p,ul,ol{
    padding: 0;
    margin: 0;
}
ul,ol{
    list-style: none;
}
nav{
    background-color: #ffffff;
}
.navbar-expand-lg .navbar-nav .nav-link{
    position: relative;
    color: #A000B3!important;
    padding-right: 3.5rem!important;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.login_btn {
    background-color: #BA68C8;
    color: #ffffff;
    padding: 10px 40px;
    border-radius: 10px;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 500;
    font-size: 16px;
}
#banner{
    background-image: url(../image/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.banner_overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 90px 15% 150px;
}
.banner_overlay h3 {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: #ffffff;
    margin-bottom: 30px;
    padding: 0 8%;
}
.banner_overlay h3 span{
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: #E7A1EE;
    margin-bottom: 30px;
}
.banner_overlay h3 a{
    color: #E7A1EE;
}
.banner_overlay p{
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
}

.banner_sub {
    background: #fff;
    box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 24rem;
    left: 10%;
    padding: 25px 0%;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
    width: 80%;
}
.input_search {
    background-color: rgba(143, 146, 161, 0.1);
    border-radius: 10px;
    margin: 10px 5%;
    padding: 20px 3%;
}
.input_search input{
    border: none;
    background-color: transparent;
    margin: 5px 0;
}
.input_search input::placeholder {
    opacity: 0;
  }
.input_search input:focus{
    border: none;
    outline: none;
    color: #1A1A1A;
}
#table_part {
    margin: 11rem 0 4rem;
    font-family: "Hind Siliguri", sans-serif;
}
.qourier{
    font-size: 20px;
    color: #A000B3;
}
.bg-purple ul{
    background-color: #A000B3;
    color: #fff;
}
.bg-green ul{
    background-color: #34C759;
    color: #fff;
}
.bg-red ul{
    background-color: #E73534;
    color: #fff;
}
.bg-purple ul hr{
    background-color: #fff;
}
.bg-green ul hr{
    background-color: #fff;
}
.bg-red ul hr{
    background-color: #fff;
}
.table_ul ul{
    border: 1px solid #B6B6B6;
    border-radius: 10px;
}
.table_ul ul li {
    padding: 0px 20px;
}
.search_btn {
    color: #fff;
    background-color: #A000B3;
    padding: 12px 30px;
    border-radius: 10px;
}
.search_phn{
    text-align: left;
    margin-left: 5%;
    position: relative;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #A000B3;
}
.search_phn::after {
    content: "";
    height: 2px;
    width: 60px;
    background-color: #A000B3;
    position: absolute;
    top: 38px;
    left: 0;
}
.number{
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 400;
    font-size: 14px;
    position: relative;
}
.number img {
    position: absolute;
    right: -20px;
    bottom: 6px;
}
.graph_title_one{
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #BA68C8;
}
.graph_title_two{
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #34C759;
}
.graph_title_three{
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #D62124;
}
.graph_txt h5{
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 700;
    font-size: 40px;
}
.graph_img p{
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
}
.graph_img{
    position: relative;
}
.pb_4{
    padding-bottom: 1rem!important;
}
.pt_2{
    padding-top: 1rem!important;
}
.download_img{
    position: absolute;
    top: 0;
    right: 0;
}
.common_heading {
    font-family: "Hind Siliguri", sans-serif;
    font-size: 40px;
    color: #A000B3;
    margin: 80px 0 70px;
    font-weight: 600;
}
.soft_title{
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 600;
    font-size: 20px;
}
.soft_main{
    border: 1px solid #DFDFDF;
    padding: 15px;
    border-radius: 15px;
}

.feature_heading {
    font-family: "Hind Siliguri", sans-serif;
    font-size: 40px;
    color: #A000B3;
    margin: 150px 0 15px;
    font-weight: 600;
}
.feature_sub_heading{
    font-family: "Hind Siliguri", sans-serif;
    font-size: 20px;
    color: #6F6F6F;
}
.feature_main {
    border: 1px solid #F3E2F8;
    border-radius: 20px;
    padding: 10px;
    min-height: 20rem;
    position: relative;
}
.feature_main h3 {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #1D263A;
    margin: 10px 0;
}
.feature_main p {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #B0B7C3;
    margin: 10px 0;
}
.feature_main a{
    font-family: "Hind Siliguri", sans-serif;
    font-size: 12px;
    color: #A000B3;
    position: absolute;
    bottom: 10px;
    left: 35%;
}
#feature{
    margin-top: 60px;
}
#client{
    margin: 50px 0;
}
#client img{
    width: 80%;
}

footer{
    background-color: #A000B3;
    padding-top: 50px;
}
.footer_txt{
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #D6D6D6;
}
.footer_form form{
    background-color: #C500DC;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.footer_input {
    background-color: #DFDFDF;
    border: none;
    width: 100%;
    padding: 10px 15px;
    border-radius: 10px 0px 0px 10px;
}

.footer_form form button {
    background-color: transparent;
    border: none;
    color: #fff;
    width: 34%;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.f_c_heading{
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
}
.footer_second ul li{
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    margin: 15px 0;
}
.footer_last{
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    padding: 12px 0;
}


/* responsive part start */

/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */
@media (min-width: 120px) and ( max-width: 575px) { 
    .banner_overlay {
        padding: 50px 0px;
    }
    .banner_overlay h3 {
        font-size: 30px;
    }
    .banner_overlay h3 span {
        font-size: 30px;
        margin-bottom: 0px;
    }
    .banner_overlay p {
        font-size: 14px;
        text-align: justify;
        padding: 2%;
    }
    
    #table_part {
        margin: 25rem 0 4rem;
        font-family: "Hind Siliguri", sans-serif;
    }
    .banner_sub {
        box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.1);
        padding: 25px 0% 0px;
    }
    .input_search img {
        display: none;
    }
.search_phn{
    text-align: center!important;
}
.search_phn::after {
    left: 39%;
}
.input_search img{
    margin: auto;
}
.input_search input:focus{
    color: #535252;
}
.input_search a{
    margin: auto;
}
.input_search input {
    padding: 10px 12%;
    background-color: #f7f7;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.input_search input::placeholder {
    opacity: 1;
  }
  .input_search {
    background-color: transparent;
    padding: 0px 3% 10px;
}
#table_part {
    margin: 20rem 0 4rem;
}

.table_ul ul {
    margin-top: 2rem;
}
.graph{
    margin-top: 5rem;
}
.bg-green ul{
    display: flex;
}
.bg-purple ul{
    display: flex;
}
.bg-red ul{
    display: flex;
}
.table_ul ul li {
    padding: 0px 15px;
}
.pb_4 {
    padding-bottom: 0rem!important;
}
.pt_2{
    padding-top: 0!important;
}
.table_ul ul li img{
    width: 50%!important;
}

    .banner_sub {
        top: 25rem;
    }
    .ban_number {
        font-weight: 400;
        font-size: 36px;
    }
    .ban_title {
        margin-top: 0px;
    }
    .service_main {
        margin-bottom: 70px;
    }
    .common_heading {
        font-size: 18px;
        margin: 70px 4% 30px;
    }
    .story_img {
        display: none;
    }
    .soft_main {
        margin-bottom: 20px;
    }
    .feature_heading {
        margin: 100px 0 15px;
    }
    .feature_main {
        margin-bottom: 30px;
    }
    .footer_form {
        margin-bottom: 20px;
    }
    .navbar {
        padding: 1.5rem 1rem;
    }
 }
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) { 
    .story_img {
        display: none;
    }
    .banner_overlay {
        padding: 3rem 5% 10rem;
    }
    .banner_sub {
        top: 24rem;
    }
    #table_part {
        margin: 16rem 0 4rem;
    }
    .table_ul ul li {
        padding: 0px 62px;
    }
    .graph{
        margin-top: 4rem;
        margin-left: 8%;
    }
    .table_ul ul {
        margin-top: 2rem;
    }
    #service {
        margin-top: 28em;
    }
    .service_main {
        margin-bottom: 30px;
    }
    .soft_main {
        text-align: center;
        margin-bottom: 30px;
    }
    .input_search img{
        margin: auto;
    }
    .input_search input:focus{
        color: #535252;
    }
    .input_search a{
        margin: auto;
    }
    .input_search input {
        padding: 10px 12%;
        background: #f7f7;
        border-radius: 15px;
        margin-bottom: 15px;
    }
    
.feature_main {
    margin-bottom: 40px;
}
.feature_main a {
    left: 45%;
}
.footer_form {
    margin-bottom: 40px;
}


}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 
    .banner_overlay {
        padding: 3rem 15% 10rem;
    }
    .banner_overlay h3 {
        margin-bottom: 0px;;
    }
    .banner_sub {
        top: 21rem;
    }
    .input_search {
        padding: 8px 3%;
    }
    #table_part {
        margin: 9rem 0 4rem;
    }

    .graph{
            margin: 0 auto;
            width: 60%;
            margin-top: 5rem;
    }
    .common_heading {
        margin: 50px 0 35px;
    }
    .footer_input {
        font-size: 12px;
    }
    .soft_main{
        margin-top: 1rem;
    }
    .ban_number {
        font-size: 30px;
    }
    .ban_title {
        margin-top: 0px;
    }
    .search_btn{
        margin-left: 5px;
    }


 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and ( max-width: 1199px) { 
    .banner_overlay {
        padding: 5rem 12% 10rem;
    }
    .banner_sub {
        top: 21rem;
    }
    .input_search {
        padding: 10px 3%;
    }
    .table_ul ul li {
        padding: 0px 6px;
    }
    .common_heading {
        margin: 80px 0 50px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 2.5rem!important;

    }
    .ban_number {
        font-size: 42px;
    }
    .ban_title {
        margin-top: 8px;
    }
    #service {
        margin-top: 100px;
    }

 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and ( max-width: 1399px){ 
    .banner_sub {
        top: 21rem;
    }
    #table_part {
        margin: 12rem 0 4rem;
    }
    .story_img {
        top: -100px;
        left: 60%;
        width: 60%;
    }
    .ban_number {
        font-size: 44px;
    }
    .ban_title {
        margin-top: 10px;
    }
    .banner_sub {
        left: 15%;
        width: 70%;
    }
 }
 
 @media (min-width: 1400px){ 
    .banner_sub {
        top: 22rem;
        left: 25%;
        width: 50%;
    }
    .banner_overlay {
        padding: 10rem 23% 16rem;
    }
    .soft_main{
        min-height: 95px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .banner_overlay p {
        font-size: 22px;
    }
    .banner_sub {
        top: 35rem;
        left: 25%;
        width: 50%;
    }
    #table_part {
        margin: 14rem 0 4rem;
    }
    .common_heading {
        margin: 80px 0 45px;
    }

 }
/* responsive part end */