a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
h1,h2,h3,h4,h5,p,ul,ol{
    padding: 0;
    margin: 0;
}
ul,ol{
    list-style: none;
}
nav{
    background-color: #ffffff;
}
.navbar-expand-lg .navbar-nav .nav-link{
    position: relative;
    color: #A000B3!important;
    padding-right: 3.5rem!important;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.login_btn {
    background-color: #BA68C8;
    color: #ffffff;
    padding: 10px 40px;
    border-radius: 10px;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 500;
    font-size: 16px;
}
#banner{
    background-image: url(../image/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.banner_overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 140px
}
.banner_overlay h3 {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: #ffffff;
    margin-bottom: 30px;
    padding: 0 8%;
}
.banner_overlay h3 a{
    color: #E7A1EE;
}
.ban_btn {
    padding: 5px 20px;
    color: #ffffff!important;
    border: 2px solid #ffffff;
    border-radius: 20px;
    margin: 14px;
    font-family: "Hind Siliguri", sans-serif;
    font-size: 24px;
}
.ban_btn:hover{
    text-decoration: none;
    border: 2px solid #BA68C8;
    background-color: #BA68C8;
}
.banner_sub {
    /* background: radial-gradient(#AC77FF, #DF96EC); */
    background-image: url("../image/banner_sub.png");
    background-size: 120% 556%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 24rem;
    left: 10%;
    padding: 25px 5%;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
    width: 80%;
}
.ban_number{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 60px;
    color: #ffffff;
}
.ban_title {
    color: #ffffff;
    text-align: left;
    font-family: "DM Sans", sans-serif;
    margin-top: 20px;
}

#service{
    margin-top: 170px;
}
.service_main {
    border-radius: 15px;
    box-shadow: 1px 15px 40px rgb(0 0 0 / 22%);
    padding: 20px 0%;
}
.ser_title{
    font-family: "Hind Siliguri", sans-serif;
    font-size: 24px;
    color: #000000;
}
.ser_txt {
    font-family: "Hind Siliguri", sans-serif;
    font-size: 12px;
    color: #000000;
    padding: 5px 10%;
}

.common_heading {
    font-family: "Hind Siliguri", sans-serif;
    font-size: 40px;
    color: #A000B3;
    margin: 80px 0 70px;
    font-weight: 600;
}
.soft_title{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
}
.soft_main {
    border: 1px solid #DFDFDF;
    padding: 15px;
    border-radius: 15px;
    height: 100px;
}
.story_main {
    background-color: #E4D2FF;
    padding: 30px 20% 30px 5%;
    border-radius: 20px;
    margin-top: 150px;
    position: relative;
}
.story_p_3{
    padding-right: 25%;
}
.story_img {
    position: absolute;
    top: -190px;
    left: 50%;
    width: 80%;
}
.story_main h3{
    font-family: "Hind Siliguri", sans-serif;
    font-size: 40px;
    color: #A000B3;
    font-weight: 600;
}
.story_main p{
    font-family: "Hind Siliguri", sans-serif;
    font-size: 20px;
}

.feature_heading {
    font-family: "Hind Siliguri", sans-serif;
    font-size: 40px;
    color: #A000B3;
    margin: 150px 0 15px;
    font-weight: 600;
}
.feature_sub_heading{
    font-family: "Hind Siliguri", sans-serif;
    font-size: 20px;
    color: #6F6F6F;
}
.feature_main {
    border: 1px solid #F3E2F8;
    border-radius: 20px;
    padding: 10px;
    min-height: 20rem;
    position: relative;
}
.feature_main h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #1D263A;
    margin: 10px 0;
}
.feature_main p {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #B0B7C3;
    margin: 10px 0;
}
.feature_main a{
    font-family: "DM Sans", sans-serif;
    font-size: 12px;
    color: #A000B3;
    position: absolute;
    bottom: 10px;
    left: 35%;
}
#feature{
    margin-top: 60px;
}
#client{
    margin: 50px 0;
}
#client img{
    width: 80%;
}

footer{
    background-color: #A000B3;
    padding-top: 50px;
}
.footer_txt{
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #D6D6D6;
}
.footer_form form{
    background-color: #C500DC;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.footer_input {
    background-color: #DFDFDF;
    border: none;
    width: 100%;
    padding: 10px 15px;
    border-radius: 10px 0px 0px 10px;
}

.footer_form form button {
    background-color: transparent;
    border: none;
    color: #fff;
    width: 34%;
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.f_c_heading{
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
}
.footer_second ul li{
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    margin: 15px 0;
}
.footer_last{
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    padding: 12px 0;
}


/* responsive part start */

/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */
@media (min-width: 120px) and ( max-width: 575px) { 
    .banner_overlay {
        padding: 3rem 0px 8rem;
    }
    .banner_overlay h3 {
        font-size: 30px;
    }
    .ban_btn {
        padding: 5px 20px;
        border-radius: 7px;
        margin: 4px;
        font-size: 14px;
    }
    #service {
        margin-top: 22em;
    }
    .banner_sub {
        top: 20rem;
    }
    .ban_number {
        font-weight: 400;
        font-size: 36px;
    }
    .ban_title {
        margin-top: 0px;
    }
    #service {
        margin-top: 15em;
    }
    .service_main {
        margin-bottom: 70px;
    }
    .common_heading {
        font-size: 18px;
        margin: 80px 4% 70px;
    }
    .story_img {
        display: none;
    }
    .soft_main {
        margin-bottom: 50px;
        text-align: center;
    }
    .soft_main {
        height: 140px;
    }
    .story_main {
        margin-top: 0em;
    }
    .story_main p {
        text-align: justify;
    }
    .story_main {
        padding: 30px 5% 30px 5%;
    }
    .story_p_3 {
        padding-right: 0%;
    }
    .feature_heading {
        margin: 100px 0 15px;
    }
    .feature_main {
        margin-bottom: 30px;
    }
    .footer_form {
        margin-bottom: 20px;
    }
    .navbar {
        padding: 1.5rem 1rem;
    }
 }
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) { 
    .story_img {
        display: none;
    }
    .banner_overlay {
        padding: 80px 0;
    }
    .banner_sub {
        top: 32rem;
    }
    #service {
        margin-top: 28em;
    }
    .service_main {
        margin-bottom: 30px;
    }
    .soft_main {
        text-align: center;
        margin-bottom: 30px;
    }
    .story_main {
        margin-top: 40px;
 }
 .story_main {
    padding: 30px 5% 30px 5%;
}
.story_p_3 {
    padding-right: 0;
}
.feature_main {
    margin-bottom: 40px;
}
.feature_main a {
    left: 30%;
}
.footer_form {
    margin-bottom: 40px;
}


}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 
    .banner_overlay {
        padding: 4rem 3% 6rem;
    }
    .story_img {
        top: 47px;
        left: 56%;
        width: 70%;
    }
    .soft_title {
        font-size: 16px;
    }
    .feature_main {
        min-height: 26rem;
    }
    .feature_main a {
        left: 23%;
    }
    .banner_sub {
        top: 23rem;
    }
    .ban_number {
        font-size: 30px;
    }
    .ban_title {
        margin-top: 0px;
    }
    #service {
        margin-top: 8rem;
    }
    .service_main {
        min-height: 18rem;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and ( max-width: 1199px) { 
    .banner_overlay {
        padding: 116px;
    }
    .banner_sub {
        top: 25rem;
    }
    .ban_number {
        font-size: 42px;
    }
    .ban_title {
        margin-top: 8px;
    }
    #service {
        margin-top: 100px;
    }
    .story_img {
        top: -1rem;
        left: 60%;
        width: 60%;
    }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and ( max-width: 1399px){ 
    .banner_sub {
        top: 25rem;
    }
    .story_img {
        top: -100px;
        left: 60%;
        width: 60%;
    }
    .ban_number {
        font-size: 44px;
    }
    .ban_title {
        margin-top: 10px;
    }
    .banner_sub {
        left: 15%;
        width: 70%;
    }
 }
 
 @media (min-width: 1400px) and (max-width: 1439px){ 
    .banner_sub {
        top: 23rem;
        left: 25%;
        width: 50%;
    }
    .ban_number {
        font-size: 46px;
    }
    .ban_title {
        margin-top: 10px;
    }
    .banner_overlay h3 {
        padding: 0 15%;
    }
 }
 @media (min-width: 1440px) {

 }
/* responsive part end */